/* GLOBALES  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: $font-base;
    font-family: $font-family;
}

.wrap{
    font-size: $font-size-default;
}

h1 {
    font-size: $font-size-title-default;
}

a{
    display: inline-block;
}