
$color-primamry: rgb(136, 37, 37);
$color-secondary: rgb(49, 91, 146);
$color-success: rgb(41, 126, 74);

$bg-color-main: #eee;
$bg-color-header: rgb(224, 168, 182);
$bg-color-footer: rgb(146, 165, 147);

$font-base: 6.25%;
$font-size-default: 14rem;
$font-size-title-default: 24rem;
$font-family: arial;